.mstheme
{
	separator-image: url(aradrule.gif);
	list-image-1: url(aradbul1.gif);
	list-image-2: url(aradbul2.gif);
	list-image-3: url(aradbul3.gif);
	nav-banner-image: url(title_banner.gif);
	navbutton-horiz-normal: url(blue_button.gif);
	navbutton-horiz-hovered: url(blue_button.gif);
	navbutton-horiz-pushed: url(blue_button.gif);
	navbutton-vert-normal: url(button_bluer_red2.gif);
	navbutton-vert-hovered: url(button_bluer_green2.gif);
	navbutton-vert-pushed: url(button_bluer_green2.gif);
	navbutton-home-normal: url(aradhom.gif);
	navbutton-home-hovered: url(aradhomh.gif);
	navbutton-home-pushed: url(aradhom.gif);
	navbutton-next-normal: url(aradnxt.gif);
	navbutton-next-hovered: url(aradnxth.gif);
	navbutton-next-pushed: url(aradnxt.gif);
	navbutton-prev-normal: url(aradbck.gif);
	navbutton-prev-hovered: url(aradbckh.gif);
	navbutton-prev-pushed: url(aradbck.gif);
	navbutton-up-normal: url(aradup.gif);
	navbutton-up-hovered: url(araduph.gif);
	navbutton-up-pushed: url(aradup.gif);
}
.mstheme-bannertxt
{
	font-family: Tahoma;
	color: rgb(255, 255, 255);
	font-size: 6;
	font-style: normal;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
}
.mstheme-horiz-navtxt
{
	font-family: arial,helvetica;
	color: rgb(0, 0, 0);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
}
.mstheme-vert-navtxt
{
	font-family: Tahoma;
	color: rgb(255, 255, 255);
	font-size: 2;
	font-style: normal;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
}
.mstheme-navtxthome
{
	font-family: arial,helvetica;
	color: rgb(0, 0, 0);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
}
.mstheme-navtxtnext
{
	font-family: arial,helvetica;
	color: rgb(0, 0, 0);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
}
.mstheme-navtxtprev
{
	font-family: arial,helvetica;
	color: rgb(0, 0, 0);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
}
.mstheme-navtxtup
{
	font-family: arial,helvetica;
	color: rgb(0, 0, 0);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
}
ul
{
	list-style-image: url(aradbul1.gif);
}
ul ul
{
	list-style-image: url(aradbul2.gif);
}
ul ul ul
{
	list-style-image: url(aradbul3.gif);
}
